<div class="container edit-list">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <h5 class="text-center">Edit list</h5>

            <button ng-if="vm.list.length"type="submit" class="btn btn-primary btn-lg btn-block add-but" data-toggle="modal" data-target="#myModalAdd">Add</button>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in vm.list">
                    <span class="editItem" ng-class="{'selectItem': item.complete}">{{item.name}}</span>
                    <span  class="glyphicon glyphicon-circle-arrow-left lastIcon" data-toggle="modal" data-target="{{'#myModal' + $index}}"></span>
                    <span class="glyphicon glyphicon-ok editIcon" ng-click="vm.editDone(item)" aria-hidden="true"></span>

                       <!--                 <span class="glyphicon glyphicon-pencil editIcon" ng-click="vm.editItem($index)" aria-hidden="true"></span>-->
                    <!-- Modal -->
                    <div class="modal fade" id="{{'myModal' + $index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">{{item.name}}</h4>
                                </div>
                                <div class="modal-body">
                                    <input  type="text" class="form-control" placeholder="" ng-model="item.name">
                                    <br/>
                                    <input  type="number" class="form-control" placeholder="" ng-model="item.price" autofocus>
                                    <br/>
                                    <input  type="number" class="form-control" placeholder="" ng-model="item.count">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.editPrice()">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>


            <h3>Total sum: {{vm.total | currency}}</h3>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{vm.add.name}}</h4>
            </div>
            <div class="modal-body">
                <input  type="text" class="form-control" placeholder="" ng-model="vm.add.name">
                <br/>
                <input  type="number" class="form-control" placeholder="" ng-model="vm.add.price" autofocus>
                <br/>
                <input  type="number" class="form-control" placeholder="" ng-model="vm.add.count">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.addItem()">Ok</button>
            </div>
        </div>
    </div>
</div>





