

<div class="container add-list">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <h3 class="text-center"><b><i>{{ vm.text.addNewList }}</i></b></h3>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="{{ vm.text.name }}" ng-model="vm.goods.name">
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block"  ng-click="vm.editData()">{{ vm.text.add }}</button>
            </form>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in vm.items[vm.currentDate] track by $index">
                    <span ng-if="!item.price"class="nameItem">{{item.name}}</span>
                    <input ng-if="item.price" type="text" class="form-control itemFormInput" placeholder="Search" ng-model="item.name">
                    <span class="glyphicon glyphicon-remove lastIcon" ng-click="vm.removeItem($index)" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-pencil editIcon" ng-click="vm.editItem($index)" aria-hidden="true"></span>
                </li>
            </ul>
        </div>
    </div>
</div>