<div class="container main-list">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <h3 class="text-center"><b><i>{{ vm.text.main }}</i></b></h3>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in vm.allItems ">
                     <a ui-sref="edit" ng-click="vm.setEdit($index)"><span class="nameItem" ng-class="{'selectItem': item.complete}">{{item.name | date:'medium'}}</span></a>
                     <span class="glyphicon glyphicon-remove lastIcon" ng-click="vm.removeItem($index)" aria-hidden="true"></span>
                </li>
            </ul>
            <button ng-if="vm.allItems.length" type="submit" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModalMain">{{ vm.text.clearAll }}</button>

            <!-- Modal -->
            <div class="modal fade" id="myModalMain" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">{{ vm.text.areYuoSure }}</h4>
                        </div>
                        <div class="modal-body">
                            {{ vm.text.clearAll }}?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ vm.text.close }}</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.clearAll()">{{ vm.text.ok }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
