<div class="container edit-list">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <h3 class="text-center"><b><i>{{ vm.text.settings }}</i></b></h3>

            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{ vm.text.language }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#" ng-click="vm.changeLang('en')">English</a></li>
                    <li><a href="#" ng-click="vm.changeLang('ru')">Русский</a></li>
                    <li><a href="#" ng-click="vm.changeLang('ua')">Українська</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>






