<div class="container edit-list">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <h3 class="text-center"><b><i>{{ vm.text.editList }}</i></b></h3>

            <button ng-if="vm.list.length" type="submit" class="btn btn-primary btn-lg btn-block add-but" data-toggle="modal" data-target="#myModalAdd">{{ vm.text.add }}</button>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in vm.list">
                    <span class="editItem" ng-class="{'selectItem': item.complete}">{{item.name}}</span>
                    <span  class="glyphicon glyphicon-circle-arrow-left lastIcon sizeChange" data-toggle="modal" data-target="{{'#myModal' + $index}}"></span>
                    <span class="glyphicon glyphicon-ok editIcon sizeChange" ng-click="vm.editDone(item)" aria-hidden="true"></span>

                       <!--                 <span class="glyphicon glyphicon-pencil editIcon" ng-click="vm.editItem($index)" aria-hidden="true"></span>-->
                    <!-- Modal -->
                    <div class="modal fade" id="{{'myModal' + $index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">{{item.name}}</h4>
                                </div>
                                <div class="modal-body">
                                    <input  type="text" class="form-control" placeholder="{{ vm.text.name }}" ng-model="item.name">
                                    <br/>
                                    <input  id="inputFocuse" type="number" class="form-control" placeholder="{{ vm.text.price }}" ng-model="item.price" autofocus>
                                    <br/>
                                    <input  type="number" class="form-control" placeholder="{{ vm.text.count }}" ng-model="item.count">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ vm.text.close }}</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.editPrice()">{{ vm.text.ok }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>


            <h3>{{ vm.text.totalSum }} {{vm.total | currency:vm.text.symbol}} </h3>
            <button ng-if="vm.list.length" class="btn btn-primary btn-lg btn-block add-but" ng-click="vm.checkShow = !vm.checkShow">{{ vm.checkShow ? vm.text.hideCheck : vm.text.printCheck }}</button>

            <div id="check" ng-if="vm.checkShow">
                <table>
                    <tbody ng-repeat="item in vm.list">
                        <tr>
                            <td colspan="3"><span class="shadow">{{ item.name }}</span> </td>
                        </tr>
                        <tr>
                            <td><span class="shadow">{{ item.count }}</span></td>
                            <td>- <span class="shadow">{{ item.price | currency:vm.text.symbol }}</span></td>
                            <td>- <span class="shadow">{{ (item.count * item.price || 0) | currency:vm.text.symbol}}</span></td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td colspan="3">
                                <b> <i>{{ vm.text.totalSum }}</i> {{ vm.total | currency:vm.text.symbol }} </b>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <button class="btn btn-primary btn-lg btn-block add-but" ng-click="vm.checkShow = !vm.checkShow">{{ vm.text.hideCheck }}</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{vm.add.name || vm.text.name }}</h4>
            </div>
            <div class="modal-body">
                <input  type="text" class="form-control" placeholder="{{ vm.text.name }}" ng-model="vm.add.name">
                <br/>
                <input  type="number" class="form-control" placeholder="{{ vm.text.price }}" ng-model="vm.add.price" autofocus>
                <br/>
                <input  type="number" class="form-control" placeholder="{{ vm.text.count }}" ng-model="vm.add.count">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.addItem()">Ok</button>
            </div>
        </div>
    </div>
</div>





