body {
    background-color: rgba(189, 189, 189, 0.5);
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.nameItem, .editItem {
    white-space: nowrap;
    overflow-y: scroll;
    width: 80%;
    display: inline-block;
    font-size: x-large;
}

.editIcon, .lastIcon{
    float: right;
}

.lastIcon{
    margin-left: 15px;
}

.form-control.itemFormInput {
    width: 80%;
    display: inline-block;
}

.selectItem {
    text-decoration: line-through;
    color: gray;
}

.add-list .glyphicon,
.main-list .glyphicon,
.edit-list .glyphicon {
    top: 12px;
}

.main-links {
    font-size: large;
}


.edit-list  .add-but {
    margin-bottom: 30px;
}