body {
    background-image: url(../img/P3c4Ta.jpg);
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#navBar {
    background-color: rgba(0,0,0,0.1);
}

.nameItem, .editItem {
    white-space: nowrap;
    overflow-y: scroll;
    width: 73%;
    display: inline-block;
    font-size: x-large;
}

.editIcon, .lastIcon{
    float: right;
}

.lastIcon{
    margin-left: 30px;
}

.form-control.itemFormInput {
    width: 80%;
    display: inline-block;
}

.selectItem {
    text-decoration: line-through;
    color: gray;
}

.add-list .glyphicon,
.main-list .glyphicon,
.edit-list .glyphicon {
    top: 12px;
}

.main-links {
    font-size: xx-large;
    float: right;
    margin: 4px 32px 0 0;
}


.edit-list  .add-but {
    margin-bottom: 30px;
}

#check {
    border-radius: 10px;
    background-color: rgba(0,0,0,.075);
    font-size: x-large;
}

#check > table {
    margin: 0 auto;
}

#check table td {
    padding: 5px;
}

.logo {
    background-image: url(../img/list.png);
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(10deg);
    margin: 4px 0 -5px 14px;
    width: 33px;
    height: 44px;
    display: inline-block;
}

.glyphicon.sizeChange {
    top: 12px;
    font-size: large;
    z-index: 100;
}

.shadow {
    font-weight: 900;
}